    
    <div class="container-small">

    <div class="small-content">

    <div class="photo-small">

    <img src="https://preview.redd.it/angular-17-new-features-v0-2ku2689p6stb1.png?auto=webp&s=af2421962dc364f4a95004c9212a61ff0fcbfb5b"
            alt="" height="50px" width="100px">
            
            
    </div>
            
    <div class="title-small">
            
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
                    
                
    </div>

    </div>
        
    <div class="small-separador">
        <hr/>
     </div>   

    </div>
