

<app-title></app-title>
<div class="articles">

<div class="articles_main">

<app-big-card

Id="1"
photoCover="https://s3.eu-west-1.amazonaws.com/redsys-prod/articles/69a73aaa7784b829b85889ba/images/teaserImage_xx_Shutterstock2344189953_1699613626490.png"
cardTitle="NOVA VERSÃO ANGULAR 17"
cardDescription="Finalmente conseguimos! A versão estável do Angular 17 foi lançada. Parece que a equipe de desenvolvimento Angular tem como objetivo nos surpreender a cada novo lançamento, e a versão 17 não é exceção. Novas funcionalidades e melhorias significativas estão sendo introduzidas.Olhando para o que recebemos, é seguro dizer que muita ênfase foi colocada na otimização, especialmente quando se trata do tamanho inicial do pacote. Também recebemos um novo fluxo de controle, uma base sólida para que os sinais se tornem padrão em versões futuras.Vamos mergulhar no que a versão 17 do Angular traz e todos os benefícios que suas mudanças oferecem. -Desenvolvedor sobre a nova versão do Angular"



></app-big-card>

</div>

<div class="articles_others">

<app-small-card

Id="2"
descripSmall="SAIU A NOVA VERSÃO DO ANGULAR!"   
photoCover="https://preview.redd.it/angular-17-new-features-v0-2ku2689p6stb1.png?auto=webp&s=af2421962dc364f4a95004c9212a61ff0fcbfb5b"
>
</app-small-card>


<app-small-card

Id="3"
descripSmall="Primeira análise dos componentes autônomos: Angular além dos NgModules"
photoCover="https://miro.medium.com/v2/resize:fit:1400/1*lXA0S16KtjF_TbSQZevP8Q.png"


>

</app-small-card>



<app-small-card

Id="4"
descripSmall="Novo visual refletindo os recursos futuros do Angular e Nova jornada de aprendizagem interativa"
photoCover="https://miro.medium.com/v2/resize:fit:1358/1*LEUU5-WL6vydElNfsYACPA.png"


>


</app-small-card>

</div>

</div>
