
<header>

    <app-menu-bar></app-menu-bar>

</header>

<app-title></app-title>
<div class="articles">

<div class="articles_main">

<app-big-card></app-big-card>

</div>

<div class="articles_others">

<app-small-card

descripSmall="SAIU A NOVA VERSÃO DO ANGULAR!"   
photoCover="https://preview.redd.it/angular-17-new-features-v0-2ku2689p6stb1.png?auto=webp&s=af2421962dc364f4a95004c9212a61ff0fcbfb5b"
>
</app-small-card>


<app-small-card

descripSmall="Primeira análise dos componentes autônomos: Angular além dos NgModules"
photoCover="https://miro.medium.com/v2/resize:fit:1400/1*lXA0S16KtjF_TbSQZevP8Q.png"


>

</app-small-card>



<app-small-card

descripSmall="Novo visual refletindo os recursos futuros do Angular e Nova jornada de aprendizagem interativa"
photoCover="https://miro.medium.com/v2/resize:fit:1358/1*LEUU5-WL6vydElNfsYACPA.png"


>


</app-small-card>

</div>

</div>
