* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #180511;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a {
    text-decoration: none;
}